:root {
  --primary-color: #6c63ff;
  --light-color: #f6f6f6;
  --dark-color: #333;
  --secondary-color: #444;
  --max-width: 1140px;
  --overlay-color: rgba(108, 99, 255, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  /* font-weight: lighter; */
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utility */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-primary {
  color: #6c63ff;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.4rem;
  border: none;
  border-radius: 30px;
}

.bg-light {
  background: var(--light-color);
}

.l-heading {
  font-size: 3rem;
  line-height: 1.3;
}

.m-heading {
  font-size: 2rem;
  line-height: 1.3;
}

.lead {
  width: 50%;
  margin: 0.75rem auto;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.list {
  margin: 1.5rem 0;
  line-height: 1.9;
}

.list li {
  padding-bottom: 0.5rem;
}

.dot {
  margin: 0 0.5rem;
}

/* Navbar */
#navbar {
  padding: 1.3rem;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  /* left: 0; */
}

#navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#navbar .logo {
  color: #000;
  font-size: 2rem;
}

#navbar ul {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}

#navbar ul li a {
  padding: 1rem 1.2rem;
}

#navbar ul li a:hover {
  color: var(--primary-color);
}

/* Showcase */
#showcase {
  /* background: #eee; */
  margin: 10rem 0;
}

#showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}

#showcase .btn {
  margin-top: 1.2rem;
}

/* Features */
#features .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
  padding: 1rem;
  font-size: 0.95rem;
  font-weight: 300;
  color: #212529;
}

#features .items .item {
  position: relative;
  padding: 2rem;
  margin: 2rem 0;
  background: #f1f1f1;
}

#features .items .item i {
  background: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Feedback */
#feedback .item {
  margin: 4rem 0;
}
#feedback .item:nth-child(odd) {
  display: grid;
  grid-template-columns: 4fr 2fr;
  /* grid-gap: 1rem; */
  align-items: center;
  justify-content: center;
}

#feedback .item:nth-child(even) {
  display: grid;
  grid-template-columns: 2fr 4fr;
  /* grid-gap: 1rem; */
  align-items: center;
  justify-content: center;
}

#feedback .item img {
  width: 70%;
  justify-self: center;
  margin: auto;
}

/* Section: About */
#about .item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}

#about .item img {
  width: 80%;
  justify-self: center;
  margin: auto;
}

/* Team */
#team .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  color: #333;
  margin: 4rem 0;
}

#team .items small {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/* Section: Blog */
#blog .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-top: 4rem;
}

#blog .items .item h2 {
  font-size: 1.8rem;
}

/* Section: Contact  */
#contact {
  position: relative;
  background: url("../img/hero_1.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 900px;
}

#contact h3 {
  color: #fff;
  padding: 0.5rem 0;
}

#contact .form-wrap {
  background: #fff;
  max-width: 600px;
  margin: 3rem auto;
}

#contact .form-wrap h3 {
  margin-bottom: 2rem;
  color: var(--dark-color);
  font-weight: lighter;
}

#contact .form-wrap .form-group {
  margin-top: 1rem;
}

#contact .form-wrap .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#contact .form-wrap .form-group label {
  display: block;
}

#contact .form-wrap .form-group input,
#contact .form-wrap .form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: #ddd 1px solid;
}
#contact .form-wrap button {
  margin-top: 1rem;
}

/* Footer */
#main-footer {
  padding: 3rem 0;
}

#main-footer .icons {
  padding-bottom: 2rem;
}

#main-footer .icons i {
  margin: 0 0.75rem;
}
